@charset "utf-8";
h1 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 72px;
	font-style: normal;
	color: #333;
}
.navigation {
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
	color: #000;
}
.contact {
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
	vertical-align: top;
	text-align: left;
	padding-left: 20px;
}
a {
	color: #F60;
	text-decoration: none;
}

.content {
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
	padding-left: 20px;
	vertical-align: top;
	text-align: left;
}
h2 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: normal;
	font-weight: bold;
}

.content img {
	float: right;
	padding: 20px;
}
.footer {
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
}
body {
	background-image: url(http://ebilgerbil.webs.com/MM105/images/quote.gif);
	background-repeat: no-repeat;
}