---
---

@import "minima";

div.wrapper {max-width:960px;margin-left:10%;}
div.post-content > p {width:65%;max-width:640;}
nav.toc {float:right;width:30%;max-width:320px;margin-top:-40px;margin-bottom:100px; margin-left:20px;margin-right:10px}
nav.toc ul {list-style:none;padding-left:0;margin-left:0;}
table {width:65%;max-width:640;}


.spoiler{ 
    color: black; 
    background-color:black;
}
  
.spoiler:hover { 
background-color:white; 
}